
body{
    background-color: #EEF9BF;
    font-family: 'Encode Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}
div h1 {
    text-align: center;
    margin-top: 50px;
 font-family: 'Roboto';
 font-size: 56px;
 color: #75b79e;
 font-weight: 700 bold;
}
.cartas1{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 47px;
}
.cartas2{display: flex;
    margin-top: 35px;
    align-items: center;
    justify-content: center;
    
}
.cartas:active {
    background: blue;
    cursor: pointer;
}
.cartas{
    background-color: #A7E9AF;
    width: 117px;
    height: 146px;
    border-radius: 5px;
    border: 1px solid #99cea8;
    box-sizing: border-box;
    margin-left: 35px;
    transition: all 0.5s; 
    transform-style: preserve-3d;
}
img{
    width: 100px;
    height: 100px;
    margin-top: 24px;
    margin-left: 10px;
}

   
.front{
    position: absolute;
}
.back{
    transform: rotateY(180deg);
}
.rotatefront{
    transform: rotateY(-180deg);
}
.rotateback{
    transform: rotateY(0deg);
}