
body{
    background-color: #EEF9BF;
    font-family: 'Encode Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}
h1 {
    text-align: center;
    margin-top: auto;
 font-family: 'Roboto';
 font-size: 56px;
 color: #75b79e;
 font-weight: 700 bold;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
}
.cartas{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 47px;
}


.front{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 116px;
    height: 146px;
    border-radius: 5px;
    background-color: #A7E9AF;
    border: solid 1px #99CEA8;
    margin: 17px;
    transition: all 0.5s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    position: absolute;
    
}
.back{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 116px;
    height: 146px;
    border-radius: 5px;
    background-color: #A7E9AF;
    border: solid 1px #99CEA8;
    margin: 17px;
    transition: all 0.5s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

img{
    width: 100px;
    height: 100px;
    margin-top: 24px;
    margin-left: 10px;
}
.cartas:active .rotateback{
    transform: rotateY(0deg);
   
}
   
.cartas:active .rotatefront{
    transform: rotateY(-180deg);
    cursor: pointer;
}